@model string

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Actualités</title>
</head>
<body>
    <h1>Actualités</h1>

    <div id="newsContainer">
        <pre>@Model</pre>
    </div>
</body>
</html>
